<%= form_for(@anagram) do |f| %>
  <% if @anagram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anagram.errors.count, "error") %> prohibited this anagram from being saved:</h2>

      <ul>
      <% @anagram.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :sorted_word %><br />
    <%= f.text_field :sorted_word %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
