= content_for :templates do
  = render partial: 'anagram'



=render :partial => 'form'
%hr

= simple_form_for(:anagram, url: '/anagrams/search', method: 'get', remote: true, html: {class: 'form-inline well', id: 'search'}) do |form|
  .input-prepend.input-append
    = form.input :word, :wrapper => :prepend, :label => false, html: {class: 'span1' } do
      %span.add-on Type your word here: 
      = form.input_field :word 
      = form.submit "find anagrams", class: "btn btn-primary btn- inline"

  #anagrams