<h1>Listing anagrams</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Sorted word</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anagrams.each do |anagram| %>
  <tr>
    <td><%= anagram.word %></td>
    <td><%= anagram.sorted_word %></td>
    <td><%= link_to 'Show', anagram %></td>
    <td><%= link_to 'Edit', edit_anagram_path(anagram) %></td>
    <td><%= link_to 'Destroy', anagram, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anagram', new_anagram_path %>
