= content_for :templates do
  = render partial: 'anagram'


%h2 Anagrams finder

=render :partial => 'form'


= simple_form_for(:anagram, url: '/anagrams/search', method: 'get', remote: true, html: {class: 'form-vertical', id: 'search'}) do |form|
  = form.text_field :word
  = form.submit "find anagrams"

#anagrams