<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @anagram.word %>
</p>

<p>
  <b>Sorted word:</b>
  <%= @anagram.sorted_word %>
</p>


<%= link_to 'Edit', edit_anagram_path(@anagram) %> |
<%= link_to 'Back', anagrams_path %>
