!!!
%html
  %head
    %title Vzaar
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    #templates{style: 'display: none;'}
      = yield :templates

    .container
      .hero-unit
        %h1 Anagrams finder
        %hr
        
        - flash.each do |name, msg|
          -if msg.is_a?(String)
            = content_tag :div, msg, :class => "alert alert-#{name}" do 
              = msg
              %a.close{'data-dismiss' => "alert"} ×

        = yield
